/*definições básicas*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
}

#todo {
    margin: 0%;
}

body {
    overflow-x: hidden;
}

/*webkit*/

body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-track {
    background: black;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 0, 255);
    border-radius: 20px;
}

body {
    background-image: url('../img/background.jpg');
}

/*header*/

header {
    background: rgb(148, 12, 148);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}

.nav-right img {
    width: 150px;
    animation: img infinite 3s;
}

.nav-left ul {
    margin-right: 20px;
    margin-top: 20px;
}

.nav-left ul li {
    display: inline-block;
    margin: 10px;
}

.nav-left ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 20px;
    transition: linear 0.4s;
}

.nav-left ul li a:hover {
    background: rgb(255, 0, 255);
}

/*aside*/

#flexbox {
    display: flex;
    position: relative;
    top: 90px;
}

aside {
    background: rgba(0, 0, 0, 0.734);
    position: relative;
    width: 300px;
    height: 85vh;
    border: 1px solid purple;
    overflow-y: scroll;
    text-align: center;
    color: white;
    border-radius: 20px;
}

aside::-webkit-scrollbar {
    display: none;
}

#standlist h3 img {
    width: 50px;
}

#standlist ul {
    background-color: rgba(242, 99, 255, 0.289);
    border: 1px solid black;
    width: 80%;
    margin: auto;
    height: 100vh;
    border-radius: 20px;
    list-style-type: ' ★';
    padding: auto;
}

#standlist ul li {
    margin-left: 20px;
    transition: linear 0.4s;
    color: pink;
}

#standlist ul li:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-shadow: 1px 1px 3px rgb(255, 238, 0);
}

/*section*/

section {
    width: 100%;
    padding-bottom: 5px;
    background-color: rgba(128, 0, 128, 0.316);
    background-image: url(../img/symbol.png);
    margin: auto;
    margin-left: 15px;
    border-radius: 20px;
    background-size: 40%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.25s ease-in-out;
}

#standcard {
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
    width: 100%;
    height: 500px;
    background: rgb(109, 0, 172);
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    transition: 0.25s ease-in-out;
}

.bloco {
    margin: 5px;
    /* background-color: red;*/
    width: 50%;
    height: 95%;
    border-radius: 20px;
}

#standimage {
    margin: auto;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-color: black;
    border-radius: 30px;
    text-align: center;
    background-image: url('../img/background.png');
    animation: anim-stars linear 60s infinite running;
    background-position: 0%;
}

.second {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#standstats {
    width: 320px;
    height: 320px;
    border: 1px solid black;
    margin: auto;
    border-radius: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
    background-color: black;
}

#standstats img {
    width: 100%;
    height: 100%;
    filter: invert(100%);
}

#standinfo {
    border: 1px solid white;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: black;
    padding: 5px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px white;
    text-align: center;
    
}
#standinfo spam{
    font-size: auto;
  margin:0;
margin-top: 1px;
}
#standstats {
    position: relative;
}

#standstats canvas {
    filter: opacity(60%);
    background-color: rgba(128, 0, 128, 0.357);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#img {
    transition: 0.25s ease-in-out;
    width: 80%;
}

#search {
    border: 1px solid pink;
    transition: 0.25s ease-in-out;
    background-color: rgb(255, 0, 255);
    color: azure;
    font-weight: bold;
}

#search:focus {
    background-color: purple;
}

.pesqres {
    background: rgb(225, 0, 255);
    border-radius: 10px;
    
}

/*footer*/

footer {
    width: 100%;
    position: relative;
    top: 20vh;
    background: rgb(148, 12, 148);
    color: white;
}

.conteiner-link {
    display: inline-block;
    margin: 3px;
    border-style: none solid none none;
    border-width: 1px;
}

.conteiner-link a {
    display: block;
    text-decoration: none;
    color: white;
}

#desc, #user, #stand {
    font-size: 16px;
    text-shadow: none;
    font-weight: normal;
}

@media (max-width: 910px) {
    * {
        padding: 0;
        margin: 0;
    }
    aside, header, section {
        position: inherit;
        width: 100vw;
    }
    aside {
        width: 100%;
        height: 500px;
        border-radius: 0;
    }
    #flexbox {
        flex-direction:row;
        margin: auto;
        position: relative;
        top: 0;
        justify-items: center;
    }
  
    section {
        margin: auto;
        width: 100%;
    }
    header {
        flex-direction: column;
        align-items: center;
    }
    .nav-left ul li a {
        padding: 5px;
    }
    .nav-left ul li {
        display: block;
    }
    #standimage {
     height: 200px;
        width: 100%;
        margin: auto;
        margin: 0;
        border:none;
        box-shadow: 4px 4px 8px 4px black ;

    }
    header{display:none;}
    #standimage img{
        width: 70%;
    }
    .bloco {
        width: 100%;
       
   height: 350px;
        margin: 0;
    }
    #standstats {
    
        width: 210px;
        height: 210px;
    }
    
    #standcard {
        flex-direction: column;
        
        justify-content:center;
        
    }
    .second{ 
        height: 300px;
        display: inline-block;

    }
    #search{width: 60%;}
#standlist{height:300px; font-size: 10px;}
#standlist h3 { font-size: 16px;}
#standlist h3 img{ width: 10px;}
    #standinfo{border: none; }
    #standinfo spam,#standinfo p{font-size: 10px;}
}

@keyframes img {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes anim-stars {
    0% {
        background-position-y: 0%;
        background-position-x: 0%;
    }
    100% {
        background-position-y: -1000%;
        background-position-x: -1000%;
    }
}